<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 id="heading">Search Engine</h1>
    <form>
        <input type="text" name="question" id="question">
        <input type="submit" value="Ask ME:))" id="go">
    </form>

    <div class="response">
        <div class="loading"></div>
        <div class="question">
            <div class="title"></div>
            <div class="url">
                <a href=""></a>
            </div>
            <div class="body"></div>
        </div>
        <div class="question">
            <div class="title"></div>
            <div class="url">
                <a href=""></a>
            </div>
            <div class="body"></div>
        </div>
        <div class="question">
            <div class="title"></div>
            <div class="url">
                <a href=""></a>
            </div>
            <div class="body"></div>
        </div>
        <div class="question">
            <div class="title"></div>
            <div class="url">
                <a href=""></a>
            </div>
            <div class="body"></div>
        </div>
        <div class="question">
            <div class="title"></div>
            <div class="url">
                <a href=""></a>
            </div>
            <div class="body"></div>
        </div>
    </div>
</body>
</html>
<style>
    body{
        margin: 0;
        padding: 0;
        background-color: #95a5a6;
    }

    #question{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #32e17c;
        height: 40px;
        width: 40%;
        border-radius: 50px;
        padding: 10px;
    }
    #heading{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        font-family: cursive;
    }
    #go{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        font-size: x-large;
        border-radius: 50px;
        padding: 10px;
    }
    .response{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 10%;
        
    }
    h3{
        font-family: sans-serif;
    }
    a{
        color: whitesmoke;
    }

</style>
<script>
    const form = document.querySelector("form");
    const questionElement = form.question;

    const questions = document.querySelectorAll(".question");
    const titles = document.querySelectorAll(".title");
    const urls = document.querySelectorAll(".url");
    const quesBody = document.querySelectorAll(".body");
    const loadingDiv = document.querySelectorAll(".loading");

    // console.log(questions);
    // console.log(titles);
    // console.log(urls);
    // console.log(quesBody);

    form.addEventListener("submit", async (e)=>{
        e.preventDefault();
        const question = questionElement.value;

        for(let i=0; i<5; i++){
            titles[i].innerHTML = ``;
        }
        loadingDiv.innerHTML = `Loading...`;

        try{
            const res = await fetch(`/search?question=${question}`, {method: "GET"});
            const data = await res.json();
            
            loadingDiv.innerHTML = ``;
            for(let i=0; i<5; i++){
                if(data[i].title == "NA"){
                    if(i==0){
                        titles[i].innerHTML = `<h3>No match found !!</h3>`;
                        urls[i].innerHTML = `<a></a>`;
                    }
                    else{
                        titles[i].innerHTML = `<h3></h3>`;
                        urls[i].innerHTML = `<a></a>`;
                    }  
                    continue;
                }
                titles[i].innerHTML = `<h3>${data[i].title}</h3>`;
                urls[i].innerHTML = `<a href="${data[i].url}" target="_blank">${data[i].url}</a>`
            }

            //console.log(data);
        }catch(error){
            alert(error);
        }

        
    });
</script>
